# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science 
* List common libraries for Data Science
* 3 Open Source Data Science Tools
* Basic Arithmetic Operations
* Converting minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. sklearn
3. pandas

|Data Science Tools|
|------------------|
|GitHub|
|Docker images|
|REST APIs|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Asad Ali